.submit-btn {
  font-size: 18px;
  color: white;
  background-color: black;
  border-radius: 20px;
  padding: 20px 30px;
  max-width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-container {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 360px;
}

.form input,
.form textarea
{
  padding: 1.5rem;
  border-radius: 0.75rem;
  border: 2px solid rgba(0,0,0,.3);
}